.container {
  display: flex;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  background: #454f63;
}

.containerSearchResult {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 50px 10px 50px;
}

.searchResult {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  position: absolute;
  z-index: 10;
  background: #2a2e43;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  width: 369px;
}

.contentSearchResult {
  display: flex;
  flex-direction: column;
  max-height: 30vh;
  overflow: auto;
  width: 100;
}

.imageMagnify {
  margin: 3px;
  filter: invert(1);
}

.submitText {
  margin: 0 5px 0 15px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.container input {
  border: 0;
  margin: 0;
  border-radius: 10px;
  font-size: 20px;
  background: #454f63;
  width: 100%;
  color: white;
  margin-left: 5px;
}

.container input:focus {
  outline: none;
}

.container:focus {
  outline: 1px solid red;
}
