.pill {
  background: #485981;
  border: 0;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 20px;
  color: white;
  margin: 0 5px 0 5px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
}
