.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 50px 10px 50px;
}

.content {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  background: #2a2e43;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  width: 50vh;
}

.searchBox {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  margin-right: 15px;
  background: #454f63;
  width: 100%;
}

.searchBox input {
  border: 0;
  margin: 0;
  border-radius: 10px;
  font-size: 20px;
  background: #454f63;
  width: 100%;
  color: white;
  margin-left: 5px;
}

.searchBox input:focus {
  outline: none;
}

.searchBox:focus {
  outline: 1px solid red;
}

.searchResult {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  width: 50vh;
  position: absolute;
  z-index: 10;
  background: #2a2e43;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.resultMovie {
  display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 100vh;
    overflow: auto;
}
